## p.28 Salaries and Experience

anonymous salary data set containing each user's salary and tenure as a data scientist (in yrs)

In [2]:
salaries_and_tenures = [(83000, 8.7), (88000, 8.1),
                       (48000, 0.7), (76000, 6),
                       (69000, 6.5), (76000, 7.5),
                       (60000, 2.5), (83000, 10),
                       (48000, 1.9), (63000, 4.2)]

turn this into fun facts

bucket the tenures:

In [3]:
def tenure_bucket (tenure):
    if tenure < 2:
        return "less than two"
    elif tenure < 5:
        return "between two and five"
    else:
        return "more than five"

group together the salaries corresponding to each bucket:

In [4]:
from collections import defaultdict
# 외부함수이기 때문에 import 해야함

-------------------------------------------------------------------

? 파이썬의 데이터구조

리스트, 튜플, 셋, 딕셔너리

리스트: 여러개의 데이터를 모아놓고 처리할 수 있는 데이터 구조

    ex. scoreList = [95, 100, 98, 87, 90]

리스트 만드는 법

scoreList = []

scoreList = list()

In [11]:
#예시
aList = [10, 20, 30, 40, 50]
bList = list('abc')
print (aList)
print (bList)

[10, 20, 30, 40, 50]
['a', 'b', 'c']

defaultdict() 사용법

딕셔너리를 만드는 dict클래스의 서브클래스

defaultdict()는 인자로 주어진 객체(default-factory)의 기본값을 딕셔너리값의 초깃값으로 지정할 수 있다. 
숫자, 리스트, 셋 등으로 초기화 할 수 있기 때문에 여러 용도로 사용할 수 있다.

In [13]:
#default 값으로 list를 줬을 때 예시
list_dict = defaultdict(list)
list_dict      #디폴트값이 list인 딕셔너리

defaultdict(list, {})

In [14]:
list_dict['key1']     #값을 지정하지 않으면 빈 리스트

[]

In [15]:
list_dict['key2'] = 'test'     #값을 지정하면 해당값으로 초기화

In [16]:
list_dict

defaultdict(list, {'key1': [], 'key2': 'test'})

In [17]:
#defaultdict(list) 활용예제
name_list = [('kim','sungsu'),('kang','hodong'),('park','jisung'),
            ('kim','yuna'),('park','chanho')]     #name_list라는 리스트는 튜플로 이루어진 튜플

#ndict로 각 성별 이름 리스트로 갖는 딕셔너리를 만듦
ndict = defaultdict(list)
for k,v in name_list:       #리스트의 요소가 튜플이기 때문에 k,v값으로 할당
    ndict[k].append(v)      #값이 리스트이기때문에 append()를 이용해서 항목추가

ndict

defaultdict(list,
            {'kim': ['sungsu', 'yuna'],
             'kang': ['hodong'],
             'park': ['jisung', 'chanho']})

------------------------------------------------------------------------

group together the salaries corresponding to each bucket

In [21]:
salaries_and_tenures = [(83000, 8.7), (88000, 8.1),
                       (48000, 0.7), (76000, 6),
                       (69000, 6.5), (76000, 7.5),
                       (60000, 2.5), (83000, 10),
                       (48000, 1.9), (63000, 4.2)]

In [23]:
# keys are tenure buckets, values are lists of salaries for that bucket
salary_by_tenure_bucket = defaultdict(list)

for salary, tenure in salaries_and_tenures:
    bucket = tenure_bucket(tenure)
    salary_by_tenure_bucket[bucket].append(salary)

In [24]:
salary_by_tenure_bucket

defaultdict(list,
            {'more than five': [83000, 88000, 76000, 69000, 76000, 83000],
             'less than two': [48000, 48000],
             'between two and five': [60000, 63000]})

compute the average salary for each group

In [29]:
#keys are tenure buckets, values are average salary for that bucket
average_salary_by_bucket = {
    tenure_bucket : sum(salaries) / len(salaries)
    for tenure_bucket, salaries in salary_by_tenure_bucket.items()
}       # salaries는 각 bucket 구간별로 값이 들어있는 리스트

-----------------------------------------------------------------

? 딕셔너리는 키: 값을 함께 저장할 수 있는 자료형

items()는 사전 데이터(키와 값을 쌍)을 리턴

In [27]:
salary_by_tenure_bucket.items()

dict_items([('more than five', [83000, 88000, 76000, 69000, 76000, 83000]), ('less than two', [48000, 48000]), ('between two and five', [60000, 63000])])

---------------------------------------------------------------------

In [30]:
average_salary_by_bucket

{'more than five': 79166.66666666667,
 'less than two': 48000.0,
 'between two and five': 61500.0}